.THIS .rkclass{
    height: 70vh;
    overflow: auto;
}
.THIS .rkclass1{
    width: 60%;
}
.THIS .headingDiv{
    background: rgb(243, 243, 243);
    color: #000;
    font-size: 1rem;
    padding: 5px 10px;
}